- tag_name = card.has_child? ? "h#{revel}" : 'p'

=content_tag tag_name, id: "head_#{card.id}" do
  - if revel == 1
    = image_tag card.user.icon_url, style: 'width: 25px;'
  =link_to_if @card != card,  card.content, card_path(card)

- if revel == 1 && card.has_grandchild? && card.children.count > 5
  .page_menu
    %ul
      - @card.children.each do |card|
        %li=link_to card.content, "#head_#{card.id}"

- if card.has_grandchild?
  -card.children.each do |child|
    = render partial: 'children', locals: {card: child, revel: revel+1}
- else
  %ul
    -card.children.each do |child|
      %li=link_card(child)

