%h1 DocumentCard（ドキュメントカード）
ドキュメントカードは頭の中をカード形式で書き出せば、それらが独自のアルゴリズムで構造化されていくという夢のようなツールです
%br
= link_to '詳しくはこちら', '/cards/119'

%h1 最近登録した人
%ul
  - @user_cards.each do |card|
    %li
      = image_tag card.user.icon_url, style: 'width: 25px;'
      = link_to card.content, card_path(card)

%h1 最近追加されたCard
%ul
  - @cards.each do |card|
    %li
      = image_tag card.user.icon_url, style: 'width: 25px;'
      = link_card card
      - if card.parent
        （
        = link_card card.parent
        ）
