%h1
  = image_tag 'https://i.gyazo.com/3fd2883cad808bc39155c52ffd23b77a.png', {width: '90px'}
  掘り下げメモ
今の頭の中をメモすれば、それらは全てクリックできて掘り下げる事ができます

%br
= link_to '詳しくはこちら', '/cards/119'
%br
= link_to 'モック開発Issueはこちら', 'https://github.com/pandeiro245/documentcard/issues/7', {target: '_blank'}

%h1 最近登録した人
%ul
  - @user_cards.each do |card|
    %li
      = image_tag card.user.icon_url, style: 'width: 25px;'
      = link_to card.content, card_path(card)

%h1 最近追加されたCard
%ul
  - @cards.each do |card|
    %li
      = image_tag card.user.icon_url, style: 'width: 25px;'
      = link_card card
      - if card.parent
        （
        = link_card card.parent
        ）
