= link_to '合宿発表に関してはこちら！', '/cards/238', class: 'active'
%br
= link_to 'TOP', root_path
- @card.breadcrumbs.each do |bc|
  > 
  = link_to bc.content, card_path(bc)

- if false
  %form{action: '/words', method: 'GET'}
    %input{placeholder: '検索キーワード', name: 'q'}

%hr
%div{style: 'font-size: 10px; color:#999;'}
  １つのページに表示する階層：
  - 1.upto(4).each do |level|
    = link_to_if level != cookies[:level].to_i,"【#{level}まで】", "?level=#{level}"

= render partial: 'children', locals: {card: @card, level: 1, is_head: false}

%div{style: 'position:fixed; bottom:10px; width: 100%;'}
  = link_to "「#{@card.content}」でググる", "https://www.google.co.jp/search?q=#{@card.content}", target: '_blank', style: 'float: right; margin-right:40px;'
  - if cookies[:user_id]
    = form_for(@new_card) do |f|
      = f.text_field :content, {placeholder: "「#{@card.content}」に内容追加"}
      = f.hidden_field :parent_id, value: @card.id

%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
