-# - @card.breadcrumbs.each do |bc|
-#   = link_to bc.content, card_path(bc)
-#   > 

= render partial: 'children', locals: {card: @card, revel: 1}
= form_for(@new_card) do |f|
  = f.text_field :content, {placeholder: "#{@card.content}に内容追加"}
  = f.hidden_field :parent_id, value: @card.id

