<!DOCTYPE html>
<html>
<head>
  <title>Documentcard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<div style='position:fixed; top:0; right:0;'>
<% if cookies[:user_id].present? %>
  <%= link_to 'ログアウト', '/logout' %>
<% else %>
  <%= link_to 'Twitterログイン', '/auth/twitter' %>
<% end %>
</div>

</body>
</html>
